<div *ngIf="newUserMode">
<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel>Fill out your Details</ng-template>
    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              LOGIN
            </mat-panel-title>
            </mat-expansion-panel-header>
    <form [formGroup]="deliveryForm1" (ngSubmit)="onSubmit1()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Enter name"
          name="name"
          formControlName = "name"
          
        />
      </div>
      <!-- <span
        *ngIf="
          !deliveryForm.get('name').valid && deliveryForm.get('name').touched
        "
        >Plz enter valid name</span> -->

        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
            name="email"
            formControlName = "email"
          />
        </div>
        <!-- <span
          *ngIf="
            !deliveryForm.get('email').valid && deliveryForm.get('email').touched
          "
          >Plz enter valid email</span> -->

          <button type="submit" mat-raised-button matStepperNext color="warn">Next</button>

    </form>
    </mat-expansion-panel>
    </mat-accordion>
  </mat-step>

  <mat-step>
      <ng-template matStepLabel>Fill out your Address Details</ng-template>
      <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                ADDRESS FORM
              </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template #form>
                  <form [formGroup]="deliveryForm2" (ngSubmit)="onSubmit2()"> 
                     <div class="form-group">
                         <label for="Address">Address</label>
                         <textarea
                           class="form-control"
                           rows="3"
                           name="address"
                           formControlName = "address"
                         ></textarea>
                       </div>
              
                       <div class="form-group">
                           <label for="Mobile Number">Mobile Number:</label>
                           <input
                             type="number"
                             class="form-control"
                             id="number"
                             placeholder="Enter number"
                             name="number"
                             formControlName="number"
                           />
                         </div>
              
                       <div class="form-group">
                           <label for="city">City:</label>
                           <input
                             type="text"
                             class="form-control"
                             id="city"
                             placeholder="Enter city name"
                             name="city"
                             formControlName = "city"
                           />
                         </div>
              
                         <div class="form-group">
                             <label for="state">State:</label>
                             <input
                               type="text"
                               class="form-control"
                               id="state"
                               placeholder="Enter state"
                               name="state"
                               formControlName = "state"
                                />
                           </div>
              
                           <div class="form-group">
                               <label for="pincode">Pincode:</label>
                               <input
                                 type="number"
                                 class="form-control"
                                 id="pincode"
                                 placeholder="Enter pincode"
                                 name="pincode"
                                 formControlName = "pincode"
                               />
                             </div>
              
                             <button type="submit" mat-raised-button matStepperPrevious color="warn">PREVIOUS</button>
                             <button style="margin-left: 20px;" mat-raised-button matStepperNext color="warn">NEXT</button>
              
              
                  </form>
                  </ng-template>

                  <ng-template [ngTemplateOutlet]="form"></ng-template> 
               

     </mat-expansion-panel>
     </mat-accordion>
  </mat-step>

  <mat-step>

      <ng-template matStepLabel>List of Addresses</ng-template>
      <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                ADDRESSES
              </mat-panel-title>
              </mat-expansion-panel-header>
               <mat-radio-group aria-labelledby="example-radio-group-label"
  class="example-radio-group" [(ngModel)]="selectedAddress">

  <mat-radio-button  class="example-radio-button" *ngFor="let address of loacalAddress;let i = index" [value]="address">


      <div style="width: 80%">
        <div>
          <p><strong>{{address.name}} {{address.number}} {{address.email}}</strong></p>
          <p>{{address.address}} {{address.city}} {{address.state}} {{address.pincode}}</p>
           
        </div>

        <div>
            <button mat-raised-button color="warn" (click)="onEdit(i,address)">EDIT ADDRESS</button>
            <button style="margin-left: 20px;" mat-raised-button color="warn" (click)="onRemove(i)">REMOVE</button>
        </div> 

    </div>


    <br><hr>
        </mat-radio-button>
        </mat-radio-group>
        
        </mat-expansion-panel>
 
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                ADD NEW ADDRESS
                </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template [ngTemplateOutlet]="form"></ng-template> 
        </mat-expansion-panel>
          <br>        

        </mat-accordion>
        <div>
            <button mat-raised-button matStepperPrevious color="warn">Back</button>
            <button style="margin-left: 20px;" mat-raised-button matStepperNext color="warn">Next</button>
          </div>
  </mat-step>

    <mat-step>
        <ng-template matStepLabel>ORDER SUMMARY</ng-template>
        <ng-template #ordersummary>
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  DELIVERY ADDRESS
                </mat-panel-title>
                </mat-expansion-panel-header>
                
                 
                   <div *ngIf="selectedAddress">
                   <strong>YOUR ADDRESS DETAILS:</strong><p> <strong>{{selectedAddress.name}}-{{selectedAddress.number}}-{{selectedAddress.email}}</strong></p>
                   <p>{{selectedAddress.address}} {{selectedAddress.city}} {{selectedAddress.state}} {{selectedAddress.pincode}}</p>
                   </div>
                  
               
   </mat-expansion-panel>
   <br>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>
            ORDER DETAILS
          </mat-panel-title>
          </mat-expansion-panel-header>
          <app-cart></app-cart>
    </mat-expansion-panel>
  
    <br>
  
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              PAYEMNT OPTIONS
            </mat-panel-title>
            </mat-expansion-panel-header>
  
            <mat-radio-group aria-labelledby="example-radio-group-label"
          class="example-radio-group">
    <mat-radio-button class="example-radio-button"  [value]="Credit">
    Credit / debit
    </mat-radio-button>
    <mat-radio-button class="example-radio-button"  [value]="Cash">
        Cash On Delivery
        </mat-radio-button>
        <mat-radio-button class="example-radio-button"  [value]="Net">
            Net Banking
        </mat-radio-button>
  </mat-radio-group>
  
  </mat-expansion-panel>
  <br>
   </mat-accordion>
   </ng-template>
   <ng-template [ngTemplateOutlet]="ordersummary"></ng-template>
   </mat-step>

</mat-horizontal-stepper>
</div>


<!-- <ng-template>
<mat-horizontal-stepper>
  <mat-step>
      <ng-template matStepLabel>List Of Address</ng-template>
      <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                ADDRESS
                </mat-panel-title>
                </mat-expansion-panel-header>
      <ng-template [ngTemplateOutlet]="selectedAddress"></ng-template>
    
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              ADD NEW ADDRESS
              </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template [ngTemplateOutlet]="form"></ng-template> 
             </mat-expansion-panel>

      </mat-accordion>
  </mat-step>

  <mat-step>
      <ng-template [ngTemplateOutlet]="orderSummary"></ng-template>
  </mat-step>



</mat-horizontal-stepper>
</ng-template> -->

<div *ngIf="existingMode">
<mat-horizontal-stepper>
    <mat-step>
        <ng-template matStepLabel>ADDRESSES</ng-template>
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  ADDRESSES
                </mat-panel-title>
              </mat-expansion-panel-header>
                 <mat-radio-group aria-labelledby="example-radio-group-label"
  class="example-radio-group" [(ngModel)]="selectedAddress">

  <mat-radio-button  class="example-radio-button" *ngFor="let address of loacalAddress;let i = index" [value]="address">


      <div>
        <div>
          <p><strong>{{address.name}} {{address.number}} {{address.email}}</strong></p>
          <p>{{address.address}} {{address.city}} {{address.state}} {{address.pincode}}</p>
           
        </div>

        <div>
            <button mat-raised-button color="warn" (click)="onEdit(i,address)">EDIT ADDRESS</button>
            <button style="margin-left: 20px;" mat-raised-button color="warn" (click)="onRemove(i)">REMOVE</button>
        </div> 

    </div>


    <br><hr>
        </mat-radio-button>
        </mat-radio-group>
        

                
                </mat-expansion-panel>
<br>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        ADD NEW ADDRESS
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template [ngTemplateOutlet]="form"></ng-template> 
                       </mat-expansion-panel>
                </mat-accordion>
                <br>
                <div>
                    <button mat-raised-button color="warn" matStepperNext>Next</button>
                  </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>ORDER SUMMARY</ng-template>

        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  DELIVERY ADDRESS
                </mat-panel-title>
                </mat-expansion-panel-header>
                
                 
                   <div *ngIf="selectedAddress">
                   <strong>YOUR ADDRESS DETAILS:</strong><p> <strong>{{selectedAddress.name}}-{{selectedAddress.number}}-{{selectedAddress.email}}</strong></p>
                   <p>{{selectedAddress.address}} {{selectedAddress.city}} {{selectedAddress.state}} {{selectedAddress.pincode}}</p>
                   </div>
                  
               
   </mat-expansion-panel>
   <br>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>
            ORDER DETAILS
          </mat-panel-title>
          </mat-expansion-panel-header>
          <app-cart></app-cart>
    </mat-expansion-panel>
  
    <br>
  
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              PAYEMNT OPTIONS
            </mat-panel-title>
            </mat-expansion-panel-header>
  
            <mat-radio-group aria-labelledby="example-radio-group-label"
          class="example-radio-group">
    <mat-radio-button class="example-radio-button"  [value]="Credit">
    Credit / debit
    </mat-radio-button>
    <mat-radio-button class="example-radio-button"  [value]="Cash">
        Cash On Delivery
        </mat-radio-button>
        <mat-radio-button class="example-radio-button"  [value]="Net">
            Net Banking
        </mat-radio-button>
  </mat-radio-group>
  
  </mat-expansion-panel>
  <br>
   </mat-accordion>

        
    </mat-step>
 </mat-horizontal-stepper>
 </div>
