/* .form-group{
    margin-top: 10px;
    margin-left: 50px;
} */
input.ng-invalid.ng-touched,textarea.ng-invalid.ng-touched{
    border: 1px solid red;
}

mat-expansion-panel-header{
    background-color: blue;
}
  
.form-control{
    width: 60%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
span{
    color: red;
    margin-top: 10px;
    margin-left: 12px;
    margin-bottom: 3px;
}
/* 
/* 
.form {
    border: 1px solid gray;
     width: 64em;
      height: 6em;
      float:left 
      
    }
button {
    float: right;
    margin-left: 100px;
    margin-right: 305px;
    padding-bottom: 41px;

} */


/* .container {
    position:relative;
    width: 300px;
    height: 100px;
    border: 1px solid #ddd;
}
.button {
    position:absolute;
    top: 3px;
    right:3px;
    width: 60px;
}
textarea {
    position:relative;
    border:none;
    width:220px;
    height: 95px;
    /* resize: none;
    outline: none; add this to stop highlight on focus */ 
/* .container{
    position: relative;
    
}
    textarea{
        position: relative;
        border: 1px solid grey;
        margin-left: -15px;
        width:470px;

    } */
    mat-action-row{
    height: 60px;
  position: relative;
  
}

mat-action-row button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 8px;
  }

    
