<div *ngIf="adminMode">
<a 
         [routerLink]="[index]"
         routerLinkActive="active"
         class="list-group-item clearfix">
                    <div class="pull-left">
                        <h4 class=" list-group-item-heading">{{recipe.name}}</h4>
                        <p class="list-group-item-text">{{recipe.description}}</p>
                    </div>
                    
                    <span class="pull-right">
                        <img [src]="recipe.imagePath" 
                        alt="{{recipe.name}}" 
                        class="img-responsive" 
                        style="max-height: 70px;">
                    </span>
                </a>
         </div>

         <div  *ngIf="userMode">
                <a class="flex-container" 
                [routerLink]="[index]"
                routerLinkActive="active"
                class="list-group-item clearfix">
                           
                               <img [src]="recipe.imagePath" 
                               alt="{{recipe.name}}" 
                               class="img-responsive" 
                               style="height: 250px;width: 250px;">
                 <h4 class=" list-group-item-heading">{{recipe.name}}</h4>
                 <br>
                 <h4 class=" list-group-item-heading">cost:{{recipe.cost}}</h4>
                           

                       </a>
                       </div>

        