<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h2>Log in securely</h2>
      <br>
        <form (ngSubmit)="onsignin(f)" #f="ngForm">
            <div class="form-group">
                <input type="email" class="form-control"
                id="email" placeholder="Enter your email"
                 name="email" ngModel >
              
            </div>
          
            <div class="form-group">
                  <input type="password" class="form-control"
                   id="password" name="password" placeholder="Enter your password" ngModel>
              </div>
              <button [ngStyle]="{'backgroundColor':'blue','cursor':'pointer','align':'center'}" 
              class="btn btn-primary center-block btn-md" type="submit">Login</button>
          </form>
    </div>
  </div>
  <hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h3 >Doesn't have an account?</h3>
        
            <a routerLink="/signup">Click Here</a>
        
         
    </div>
  </div>
</div>
 
