<div *ngIf="listOfAddress.length > 0">
<label id="example-radio-group-label">Select Your Address:</label>
<br>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group">

  <mat-radio-button  class="example-radio-button" style="display:block;margin-bottom: 10px"
  *ngFor="let address of listOfAddress" [value]="address">
    {{address.Address1}}
  <br>
  </mat-radio-button>

</mat-radio-group>

<button style="margin-right:10px;" mat-raised-button color="accent" 
    (click)="onAddAdress()">ADD ADDRESS</button>
</div>